<%= stylesheet_link_tag("stylePagesHome.css") %>
<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container">

        <!--Section: Jumbotron-->
            <div class="col-md-12">
        <div class="card card-image" style="background-image: url(https://s3.amazonaws.com/ngpwebsite/bowls/bowlPic1.jpg);">
            <div class="text-white text-center rgba-black-light py-5 px-4">
                <div class="py-5">

                    <!--Content-->
                        <h6 class="red-text font-bold"><i class="fa fa-heart"></i> Jugo Life</h6>
                        <h2 class="card-title pt-3 mb-2 font-bold">B.Y.O.B</h2>
                        <p class="px-5 pb-4">Build Your Own Bowl (for $8.25)</p>
                    <!--Content-->

                </div>
            </div>
        </div>
    </div>
            <!--Section: Jumbotron-->

      <!--Grid row-->
      <div class="row text-center wow fadeIn mt-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <h4>
                <strong>1. Choose your base</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Açaí + Granola 
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>Pitaya + Granola 
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>Matcha + Granola 
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
              </ol>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <h4>
                <strong>2. Choose 3 fruit toppings</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Banana, Strawberry, Blueberry,
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>Apple, Pear, Kiwi,
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>Pineapple, Blackberry
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
              </ol>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <h4>
                <strong>3. Choose 2 Superfood toppings</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Chia seeds, Flaxseed, Cacao Nibs,
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>Goji Berries, Bee Pollen, Hemp Seeds,
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
                <hr>
                <li>Coconut Flakes, Sliced Almonds
                  <i class="fa fa-check green-text ml-1"></i>
                </li>
              </ol>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->