<%= stylesheet_link_tag("stylePagesHome.css") %>
<!--Main layout-->
    <div class="view" style="background-image: url('https://s3.amazonaws.com/ngpwebsite/bowls/bowlSyrup.gif'); background-position: center center; background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->

            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
    <div class="container">

    	    <div class="text-center black-text mt-5 mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Bowls</strong>
              </h1>

              <p>
                <strong></strong>
              </p>

              <p class="text-center mb-4">
                <strong>Build Your Own Bowl <br>
                $8.25 | 16oz </strong>
              </p>

            </div>

      <!--Grid row-->
      <div class="row text-center wow fadeIn mt-5">

        <!--Grid column-->
        <div class="col-lg-3 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header black white-text">
              <h4>
                <strong>1. Choose Your Base</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Açaí                   
                </li>
                <hr>
                <li>Pitaya                   
                </li>
                <hr>
                <li>Matcha                   
                </li>
                <hr>
                <li>Blue Majik                  
                </li>
                <hr>
                <li>Activated Charcoal 
                </li>
                 <hr>
                <li>+ Granola (optional)                  
                </li>
              </ol>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header black white-text">
              <h4>
                <strong>2. Choose 3 Fruit Toppings</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Banana
                  
                </li>
                 <hr>
                <li>Strawberry
                  
                </li>
                 <hr>
                <li>Blueberry
                  
                </li>
                <hr>
                <li>Apple
                  
                </li>
                 <hr>
                <li>Pear
                  
                </li>
                 <hr>
                <li> Kiwi
                  
                </li>
                <hr>
                <li>Pineapple
                  
                </li>
                <hr>
                <li>Blackberry
                  
                </li>
              </ol>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header black white-text">
              <h4>
                <strong>3. Choose 2 Superfood Toppings</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Chia seeds
                  
                </li>
                <hr>
                <li>Flaxseed
                  
                </li>
                <hr>
                <li>Cacao Nibs
                  
                </li>
                <hr>
                <li>Goji Berries
                  
                </li>
                 <hr>
                <li>Bee Pollen
                  
                </li>
                 <hr>
                <li>Hemp Seeds
                  
                </li>
                <hr>
                <li>Coconut Flakes
                  
                </li>
                <hr>
                <li>Sliced Almonds
                  
                </li>
              </ol>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

                <!--Grid column-->
        <div class="col-lg-3 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header black white-text">
              <h4>
                <strong>4. Additional Superfood Toppings</strong>
              </h4>
            </div>

            <!--Card content-->
            <div class="card-body">

              <ol class="list-unstyled mb-4">
                <li>Honey
                  
                </li>
                <hr>
                <li>Agave Syrup
                  
                </li>
                <hr>
                <li>Peanut Butter
                  
                </li>
                <hr>
                <li>Almond Butter
                  
                </li>
                <hr>
                <li>+ Any Additional Add-ons for extra charge
                  
                </li>
              </ol>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  <!--Main layout-->