<%= stylesheet_link_tag("stylePagesHome") %>

<div class="view" style="background-image: url(' https://s3.amazonaws.com/ngpwebsite/nowcateringwide.jpg'); background-repeat: no-repeat; background-size: cover">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->

            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
