<%= stylesheet_link_tag("stylePagesHome") %>

<div class="view" style="background-image: url('https://s3.amazonaws.com/ngpwebsite/Juices/juicesNewPan.gif'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->

            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
    <!--Section heading-->
    <div class="text-center black-text mt-5 mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Cold Pressed Juices</strong>
              </h1>

              <p>
                <strong></strong>
              </p>
<p class="mb-4">
                <strong> $7.99 | 16oz</strong>
              </p>

            </div>
    <div class="text-center">
    <!--Section description-->
    <p>Juice selection may vary by location</p>
    </div>
    <section class="text-center">
    <div class="row justify-content-center">
            
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Energize2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="orange-text card-title mt-1">Energize</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Orange, Apple, Carrot, Lemon, Ginger </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Nourish2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="green-text card-title mt-1">Nourish</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Apple, Cucumber, Kale, Spinach, Lemon, Ginger </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Purify2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="card-title mt-1">Purify</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Alkaline H20, Lemon, Ginger, Activated Charcoal, Agave Nectar </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Flush2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="amber-text card-title mt-1">Flush</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Grapefruit, Orange, Ginger, Honey, Turmeric, Lemon </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Immunity2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="purple-text card-title mt-1">Immunity</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Apple, Orange, Lemon, Beet </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>

    <div class="row justify-content-center">
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Repair2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="green-text card-title mt-1">Repair</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Apple, Pineapple, Kale, Lemon, Ginger </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->
                <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Cleanse2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="red-text card-title mt-1">Cleanse</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Carrot, Beet, Apple </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Focus2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="red-text card-title mt-1">Focus</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Strawberry, Lime, Cucumber, Alkaline H20, CBD Oil, Agave </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Power2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="green-text card-title mt-1">Power</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Spinach, Celery, Green Apple, Cucumber </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card card-cascade narrower">

                <!--Background color-->
                <!--Avatar-->
                <div class="view view-cascade overlay"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Renew2.jpg" class="card-img-top">
                </div>
                <div class="card-body card-body-cascade">
                    <!--Name-->
                    <h4 class="blue-text card-title mt-1">Renew</h4>
                    <hr>
                    <!--Quotation-->
                    <p> Blue Majik, Lime, Stevia, Alkaline H20 </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>

</section>