<%= stylesheet_link_tag("stylePagesHome") %>

<div class="view" style="background-image: url('https://s3.amazonaws.com/ngpwebsite/Juices/juices.gif'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->

            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
    <!--Section heading-->
    <div class="text-center">
    <h1 class="h1 pt-4">Juices</h1>
    <!--Section description-->
    <p>Juices are great for cleansing the body of toxins that lead to digestive issues, weakness, bloating, nausea, mood swings and skin issues. <br> Juices help boost energy, cleanse the liver, reduce inflammation, and even promote overall health!</p>
    </div>
    <section class="text-center">
    <div class="row">
            <div class="text-center black-text mt-5 mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Cold Pressed Juices</strong>
              </h1>

              <p>
                <strong></strong>
              </p>

              <p class="mb-4">
                <strong>You've got the juice now... 16oz for $7.99</strong>
              </p>

            </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up sunny-morning-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Enegize.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="orange-text card-title mt-1">Energize</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Orange, Apple, Carrot, Lemon, Ginger <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up rainy-ashville-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Nourish.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="green-text card-title mt-1">Nourish</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Apple, Cucumber, Kale, Spinach, Lemon, Ginger <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up lady-lips-gradient"></div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Purify.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title mt-1">Purify</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Alkaline H20, Lemon, Ginger, Activated Charcoal, Agave Nectar <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>

    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up sunny-morning-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Hydrate.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="lime-text card-title mt-1">Hydrate</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Pineapple, Pear, Cucumber, Coconut H2O, Mint <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up rainy-ashville-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Detox.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="amber-text card-title mt-1">Detox (Lemonade)</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Alkaline H20, Lemon, Ginger, Cayenne Pepper <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up lady-lips-gradient"></div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/SuperGreens.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="green-text card-title mt-1">Super Greens</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Pineapple, Kale, Spinach, Swisschard, Parsley, Cilantro <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>

    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up sunny-morning-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Flush.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="peach-text card-title mt-1">Flush</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Grapefruit, Orange, Ginger, Honey, Turmeric, Lemon <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up rainy-ashville-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Immunity.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="purple-text card-title mt-1">Immunity</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Apple, Orange, Lemon, Beet <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse card testimonial-card">

                <!--Background color-->
                <div class="card-up lady-lips-gradient"></div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Revive.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="green-text card-title mt-1">Revive</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Apple, Kiwi, Kale, Coconut H2O, Honey <i class="fa fa-quote-right"></i></p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>
</section>