<%= stylesheet_link_tag("stylePagesHome") %>

<section class="text-center">

    <!--Section heading-->
    <h1 class="h1 pt-4">Juices</h1>
    <!--Section description-->
    <p>Juices are great for cleansing the body of toxins that lead to digestive issues, weakness, bloating, nausea, mood swings and skin issues. <br> Juices help boost energy, cleanse the liver, reduce inflammation, and even promote overall health!</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse infinite card testimonial-card">

                <!--Background color-->
                <div class="card-up sunny-morning-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Enegize.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title mt-1">Energize</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Orange, Apple, Carrot, Lemon, Ginger </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse infinite card testimonial-card">

                <!--Background color-->
                <div class="card-up rainy-ashville-gradient">
                </div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Nourish.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title mt-1">Nourish</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Apple, Cucumber, Kale, Spinach, Lemon, Ginger </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="animated pulse infinite card testimonial-card">

                <!--Background color-->
                <div class="card-up lady-lips-gradient"></div>

                <!--Avatar-->
                <div class="avatar mx-auto"><img src="https://s3.amazonaws.com/ngpwebsite/Juices/Purify.JPG" class="rounded-circle img-responsive">
                </div>

                <div class="card-body">
                    <!--Name-->
                    <h4 class="card-title mt-1">Purify</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-quote-left"></i> Alkaline H20, Lemon, Ginger, Activated Charcoal, Agave Nectar </p>
                </div>

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>

</section>