<%= stylesheet_link_tag("stylePagesHome") %>

<div class="view" style="background-image: url('https://s3.amazonaws.com/ngpwebsite/Juices/smoothieSwirl.gif'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mt-10 mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Smoothies</strong>
              </h1>

              <p>
                <strong></strong>
              </p>

              <p class="mb-4">
                <strong>20oz of blended deliciousness for $7.25</strong>
              </p>

            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>

<div class="container mt-5">

        <!--Section: Jumbotron-->
            <div class="col-md-12">
<div class="row justify-content-md-center">

<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Viva La Berry</strong></h3>
            <p>Strawberry, Blueberry,
Blackberry, Chia Seeds </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Matcha Gracias</strong></h3>
            <p>Mango, Banana,
Spinach, Matcha </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
</div>

<div class="row justify-content-md-center">
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Basic 101</strong></h3>
            <p>Strawberries, Banana</p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Purp</strong></h3>
            <p>Acai, Blueberries,
Banana </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
</div>
<div class="row justify-content-md-center">

<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Wake Up Call</strong></h3>
            <p>Cold Brew Coffee, Banana, Almond Milk, Cinnamon</p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Gains</strong></h3>
            <p>Banana, Peanut Butter,
Cocao, Hemp Seeds </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
</div>

<div class="row justify-content-md-center">
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Pick Me Up</strong></h3>
            <p>Pitaya, Strawberries,
Pineapple </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Kale’d It</strong></h3>
            <p>Kale, Green Apple,
Banana, Peaches </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
</div>
<div class="row justify-content-md-center">

<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Pineapple Express</strong></h3>
            <p>Strawberry, Kiwi,
Pineapple </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
<!-- Card -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="animated pulse infinite card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-heart"></i> Jugo Life</h5>
            <h3 class="card-title pt-2"><strong>Feeling Peachy</strong></h3>
            <p>Mango, Peaches,
Pineapple </p>
        </div>
    </div>
    <!-- Content -->
</div>
</div>
<!-- Card -->
</div>
</div>
</div>