    <%= stylesheet_link_tag("styleNGPLanding") %>
        
<!-- Main navigation -->
  <!-- Full Page Intro -->
  <div class="view">
     <video class="video-intro" id="video-intro" poster="https://s3.amazonaws.com/ngpwebsite/Juices/juicesNewPan.gif" playinline="" preload="true" autoplay="autoplay" loop="loop"> <source src="https://s3.amazonaws.com/ngpwebsite/NewJugo4.m4v" type="video/mp4"> </video>
            
    #Scripts solves chrome issues; android and iOS solution tbd 
    <script>
        var vid = document.getElementById("video-intro");

        function playVid() {
        vid.play();
        }

        
        setInterval(playVid,300);
    </script>

  </div>
  <!-- Full Page Intro -->
    
            