<!--Accordion wrapper-->


<div class="accordion accordion-1" id="accordionEx23" role="tablist">
    <div class="card">
        <div class="card-header black lighten-3 z-depth-1" role="tab" id="heading96">
            <h5 class="text-uppercase text-center mb-0 py-1">
                <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true" aria-controls="collapse96">
                    San Antonio Area Locations <i class="fa fa-angle-down rotate-icon"></i>
                </a>
            </h5>
        </div>
        <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
            <div class="card-body">
                <div class="row">
    <div class="col-md-4">
<!-- Rotating card -->
<div class="card-wrapper">
  <div id="card-1" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
        <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

      <!-- Content -->
      <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"></a>
    <!-- Title -->
    <h4 class="card-title">Wurzbach Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">1621 N Main, San Antonio, TX 78212<br>
        M-F:
    7:00 am - 7:30 pm <br>
Sat-Sun:
    9:00 am - 7:00 pm <br>
    Phone: 210-667-4474 </p>
    <!-- Link -->
    <a class="rotate-btn white-text" data-card="card-1"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body elegant-color white-text">

        <!-- Content -->
        <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          <a class="rotate-btn" data-card="card-1"><i class="fa fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->
</div>

<div class="col-md-4">
<!-- Rotating card -->
<div class="card-wrapper">
  <div id="card-2" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
        <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

      <!-- Content -->
      <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"></a>
    <!-- Title -->
    <h4 class="card-title">Downtown SAC Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">1621 N Main, San Antonio, TX 78212<br>
        M-F:
    7:00 am - 7:30 pm <br>
Sat-Sun:
    9:00 am - 7:00 pm <br>
    Phone: 210-667-4474 </p>
    <!-- Link -->
    <a class="rotate-btn white-text" data-card="card-2"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body elegant-color white-text">

        <!-- Content -->
        <div id="map-container2" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          <a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->
</div>
<div class="col-md-4">
<!-- Rotating card -->
<div class="card-wrapper">
  <div id="card-3" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
        <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

      <!-- Content -->
      <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"></a>
    <!-- Title -->
    <h4 class="card-title">Leon Springs Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">23718 IH-10 W # 106 San Antonio, TX 78257<br>
        M-F:
    7:00 am - 7:30 pm <br>
Sat-Sun:
    9:00 am - 7:00 pm <br>
    Phone: 210-667-4474 </p>
    <!-- Link -->
    <a class="rotate-btn white-text" data-card="card-3"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body elegant-color white-text">

        <!-- Content -->
        <div id="map-container3" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          <a class="rotate-btn" data-card="card-3"><i class="fa fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->
</div>


</div>

<div class="row center">
    <div class="col-md-4">
    <!-- Rotating card -->
<div class="card-wrapper">
  <div id="card-4" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
        <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

      <!-- Content -->
      <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"></a>
    <!-- Title -->
    <h4 class="card-title">Helotes Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">9708 Business Pkwy #102, Helotes, TX 78203<br>
        M-F:
    7:00 am - 7:30 pm <br>
Sat-Sun:
    9:00 am - 7:00 pm <br>
    Phone: 210-667-4474 </p>
    <!-- Link -->
    <a class="rotate-btn white-text" data-card="card-4"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body elegant-color white-text">

        <!-- Content -->
        <div id="map-container4" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          <a class="rotate-btn" data-card="card-4"><i class="fa fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->
</div>

<div class="col-md-4">
    <!-- Rotating card -->
<div class="card-wrapper">
  <div id="card-5" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
        <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

      <!-- Content -->
      <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"></a>
    <!-- Title -->
    <h4 class="card-title">Stone Oak Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">18866 Stone Oak Pkwy San Antonio, TX 78258<br>
        M-F:
    7:00 am - 7:30 pm <br>
Sat-Sun:
    9:00 am - 7:00 pm <br>
    Phone: 210-667-4474 </p>
    <!-- Link -->
    <a class="rotate-btn white-text" data-card="card-5"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body elegant-color white-text">

        <!-- Content -->
        <div id="map-container5" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          <a class="rotate-btn" data-card="card-5"><i class="fa fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->
</div>

<div class="col-md-4">
    <!-- Rotating card -->
<div class="card-wrapper">
  <div id="card-6" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Image-->
        <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

      <!-- Content -->
      <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"></a>
    <!-- Title -->
    <h4 class="card-title">TPC Parkway Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">3107 TPC Pkwy , San Antonio, TX 78259<br>
        M-F:
    7:00 am - 7:30 pm <br>
Sat-Sun:
    9:00 am - 7:00 pm <br>
    Phone: 210-667-4474 </p>
    <!-- Link -->
    <a class="rotate-btn white-text" data-card="card-6"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body elegant-color white-text">

        <!-- Content -->
        <div id="map-container6" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
          <a class="rotate-btn" data-card="card-6"><i class="fa fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
    <!-- Back Side -->

  </div>
</div>
<!-- Rotating card -->
</div>
</div>
            
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header grey lighten-3 z-depth-1" role="tab" id="heading97">
            <h5 class="text-uppercase text-center mb-0 py-1">
                <a class="collapsed font-weight-bold black-text" data-toggle="collapse" href="#collapse97" aria-expanded="false" aria-controls="collapse97">
                    Houston Area Locations <i class="fa fa-angle-down rotate-icon"></i>
                </a>
            </h5>
        </div>
        <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
            <div class="card-body">
                <div class="row">
    <div class="col-md-4">
    <!-- Card Dark -->
<div class="animated wobble card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Wurzbach.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt white-text"></i></a>
    <!-- Title -->
    <h4 class="card-title">Tomball</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">24445 Tomball Pkwy, Tomball, TX 77375<br>
        [Opening October 2018] </p>
    <!-- Link -->
    <a href="#!" class="white-text d-flex justify-content-end"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>

</div>
<!-- Card Dark -->
</div>

<div class="col-md-4">
    <!-- Card Dark -->
<div class="animated wobble card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Main.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt white-text"></i></a>
    <!-- Title -->
    <h4 class="card-title">SugarLand Area</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4"> 4821 LJ Pkwy, Sugar Land, TX 77479 <br>
        [Opening October 2018] </p>
    <!-- Link -->
    <a href="#!" class="white-text d-flex justify-content-end"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>
</div>
<!-- Card Dark -->
</div>
<div class="col-md-4">
    <!-- Card Dark -->
<div class="animated wobble card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/Leon+Valley.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body elegant-color white-text rounded-bottom">

    <!-- Social shares button -->
    <a class="activator waves-effect mr-4"><i class="fa fa-share-alt white-text"></i></a>
    <!-- Title -->
    <h4 class="card-title"> SugarLand Area </h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4"> 17107 W Grand Pkwy S, SugarLand, TX 77479<br>
        [Opening October 2018] </p>
    <!-- Link -->
    <a href="#!" class="white-text d-flex justify-content-end"><h5>Google Map <i class="fa fa-angle-double-right"></i></h5></a>

  </div>

</div>
<!-- Card Dark -->
</div>


</div>
            </div>
        </div>
    </div>
</p>

<!--Accordion wrapper-->