<main class="mt-5">
<!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/savannah.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Savannah</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Founder</h6>
    <!-- Text -->
    <p class="card-text">Savannah is an exceptional developer for the Jugo Juicery brand with her sensational energy, phenomenal ideas, and remarkable expertise. As a San Antonio native, fiance, and mother of 3 young boys, she believed a healthier lifestyle was not only important in her home but in her hometown as well. Her passion for health led her to opening the company’s first brick and motar store was “Exactly what our community needed, its a fun and healthy way of eating”. With the collaboration of Savannah and Chris’ marketing and branding talents, she is confident that Jugo Juicery will become a household name and will become a premiere juice bar in not only San Antonio, but in someday the Country.
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/noah.JPG" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Noah</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Co-Founder</h6>
    <!-- Text -->
    <p class="card-text">Noah H. has helped form Jugo Juicery along the side of his Mother and Father, Noah is a part of our recipe team making sure each product Jugo Juicery designs is up to par with a child. Noah attends a prestigious private school in the San Antonio area with big plans in the future to continue to build the family business alongside his two twin brothers. On his free time Noah loves to be outdoors, loves Ninja Turtles and Batman and trains with one of the finest Brazilan Jiu Jitsu programs in the State of Texas.
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/chris.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Chris</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Business Developer</h6>
    <!-- Text -->
    <p class="card-text">San Antonio native, Chris H. is a branding and marketing aficionado and has helped grow Jugo Juicery into the brand it has become. Through his experience and qualifications Chris has a sound and thorough understanding of business visioning, establishment, and expansion. Chris continues to develop and refine his innate talent for logistics, event management, team building, marketing and Franchise Sales. He stays on top of all marketing strategies and tactics to keep the business above its competitors.
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

<!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-4">
                        <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/brelyiah.JPG" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Brelyiah Foley</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Managing Partner</h6>
    <!-- Text -->
    <p class="card-text">Brelyiah Foley, born in San Antonio, Texas, is an ambitious individual, pursuing a higher education in Nutrition at University of the Incarnate Word. Not only does she practice nourishment and healthy choices in the work field, but in her personal life as well. She was inspired by her son who has dietary sensitivities, naturally leading her to a healthier lifestyle. Following graduation, Brelyiah intends on continuing to express the exceptional benefits of living a healthy lifestyle, and the impact it will make in one’s life. Beyond nutrition, she is a motivated entrepreneur, and is thrilled to be a part of the Jugo Juicery family.
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-4">
                       <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/mariel.JPG" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Mariel Sanchez</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Nutritionist / Manager</h6>
    <!-- Text -->
    <p class="card-text">Mariel Sanchez grew up across the border in Laredo's sister city, Nuevo Laredo, Mexico. During the summer of 2016, she did a nutrition practicum at the San Antonio Food bank and WIC. Then, in January of 2017 she began working at Jugo Juciery + Body, graduating May of 2017 with a B.S degree in Nutrition and Dietetics and minor in Business Administration.  Currently, She works as Nutritionist/Manager at Jugo Juicery + Body. She hopes to start a dietetics internship in the Fall of 2018 in order to then become a Registered Dietitian and begin a career within the clinical field of nutrition and dietetics. 
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

<!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-4">
                        <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/Cynthia.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Cynthia Lee</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Director of Real Estate for Franchises</h6>
    <!-- Text -->
    <p class="card-text">An award-winning licensed real estate Broker for KW Commercial, Cynthia Lee, is among an elite group who holds the CCIM designation, Certified Commercial Investment Member. With this expertise, Cynthia specializes in office and retail tenant representation and carries the prestigious title of Director of Real Estate for two national brands including San Antonio-based Massage Heights and Dallas-based The Gents Place (ultra-premium barber). She is also the Master Broker for the franchise, Jugo Juicery. Cynthia is a mother to a five-year-old daughter and in her spare time, is a certified kickboxing and boot camp instructor for two local gyms and plays the piano. 
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-4">
                       <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://s3.amazonaws.com/ngpwebsite/teamPhotos/Luis.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Luis Guillermo González</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Franchise Legal Team</h6>
    <!-- Text -->
    <p class="card-text">Luis Guillermo González is the founder of LGG Law. He creates business and legal strategies to protect client’s intellectual property, and regularly advises clients on the dynamics of specific contract elements to consider during the contract formation and negotiation process. Due to his diverse experiences, his focus and passion is on the nexus between the law and business (domestic and international) and their impact on communities. As a result of his innovative and cutting-edge view and approach to law and business, González is actively sought after to be a featured speaker for various schools, organizations, and businesses as well as to serve on various local and national boards. Luis is the legal counsel for the Jugo Juicery franchise negotiations.
    </p>

    <!-- Facebook -->
    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
    <!-- Twitter -->
    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
    <!-- Google + -->
    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

  </div>

</div>
<!-- Card Regular -->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
              </main>